/*--------------------- GLOBALNO--------------------**/
*{
margin:0px;
padding:0px;
box-sizing: border-box;} *
body, html{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  font-family: 'Dancing Script';
  font-size:18px;}
h1 {font-size: 45px; font-family: 'Dancing Script'; color: #DB74AD; text-align: center;}
h2 {font-size: 35px; font-family: 'Dancing Script'; text-align: center;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
p { line-height: 25px;   /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
  margin-top:30px;
  font-family:'Lato';
  font-size:18px;}

a { color: rgb(47, 47, 47);
  text-decoration:none;
  font-weight:500;}

a:hover { color: rgb(212, 54, 212);
 text-decoration:none;
 transition:0.6s}



/*---------------------------LOGOTIP + NAVBAR-------------------*/
nav{
height:580px;
max-height:30vh;
max-height:620px;
padding-bottom:150px;
background-color:rgba(255, 192, 203, 0.466);
border-bottom: 1px solid violet;
z-index: -1;}

.navigacijski_meni{
font-family: 'Dancing Script';
display:flex;
justify-content:center;
margin-left:auto;
margin-right:auto;
font-size:25px;
margin-top:50px;
width:60%;
visibility: show;
max-width:1400px;}

nav ul li{
float: left;
font-size:35px;
padding-left: 25px;
padding-right: 25px;}

nav ul li ul li{
padding:0;}

nav ul li ul li{
opacity: 0;
visibility: hidden;
transition: opacity 700ms, visibility 700ms;}



nav ul li:hover ul li{
visibility: visible;
opacity: 1;
z-index: 1;}


nav ul li ul li a{
display:inline-block;
width:88px;
height:50px;
text-align:center;
font-size:30px;}

nav ul li {
  list-style:none;
}

@media screen and (max-width:1480px){
  .navigacijski_meni {
  width:90%}}
  @media screen and (max-width:1350px){
    .navigacijski_meni {
    width:95%}}
     @media screen and (max-width:1000px){
    .navigacijski_meni {
    display:none}
  nav{
    max-height:350px;  
  }}
/*---------------------------BODY STILI-------------------*/

body{
font-family: 'Lato';
line-height:1.5;
padding:0;
margin:0;
color:black;
text-align:center;  }

 /*---------------------------Torte-------------------*/

 .torte{
width:100%;
overflow:hidden;
background-color: rgba(255, 192, 203, 0.466);
min-height:500px;
min-height:75vh;
text-align: center;
vertical-align: middle;}

.torte img{
  border-radius: 50%;}

#torte1{
display:flex;
justify-content: space-around;
gap: 40px;
width:50%;
max-width:1260px;
text-align:center;
margin-top:50px;
margin-bottom:50px;
margin-left:auto;
margin-right:auto;}

#torte1 img{
justify-content: center;
}

#torte11{
align-items: center;
display:flex;
flex-direction: column;
text-align:justify;}

#torte11 h2{
font-size:22px;
font-family: 'Dancing Script';
display:flex;
flex-direction: column;
text-align:center;}


@media screen and (max-width:1060px){
#torte1 {
width:80%;
justify-content: center;
flex-direction: column;}

#torte11 img{
width:80vw;
height:80vw;
max-width:400px;
max-height:400px;}}

 /*---------------------------O meni-------------------*/

#omeni{
justify-content: space-around;
gap: 40px;
width:60%;
max-width:1260px;
text-align:justify;
margin-top:150px;
margin-bottom:50px;
margin-left:auto;
margin-right:auto;}

  @media screen and (max-width:1060px){
    #omeni {
    width:80%;
    justify-content: center;
    flex-direction: column;}}
 /*---------------------------KOntakt-------------------*/

 #kontakt{
  justify-content: space-around;
  gap: 40px;
  width:50%;
  max-width:1260px;
  text-align:center;
  margin-top:150px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;}

  @media screen and (max-width:1060px){
    #kontakt {
    width:80%;
    justify-content: center;
    flex-direction: column;}}
 /*---------------------------Footer-------------------*/

 footer{
  font-family:'Dancing Script';
  font-size:25px;
  padding: 15px;
  min-height:50px;
  min-height:5vh;
  overflow: auto;
  background-color: pink;
  background-image: linear-gradient(315deg, #e288f9 0%, pink 74%);
  color:black;}
  
 footer .center{
  margin: 0;
  position: relative;           
  top: 50%;  }